@{
    ViewData["Title"] = "GetList";
}
@model List<BookKeeping.Repository.Dtos.Invoice>

<style>
    .invoice td {
        border: solid 1px;
    }

    .invoice th {
        border: solid 1px;
    }

    .InvoiceDetail {
        width: 100%;
    }

        .InvoiceDetail td {
            border: none;
        }

        .InvoiceDetail th {
            border: none;
        }

    #queryFormContainer {
        position: absolute;
        width: 400px;
        padding: 20px;
        background: white;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        display: none;
    }
</style>

<div style="width:100%">
    <table style="width:100%">
        <tr>
            <td>
                <h1>全部列表</h1>
            </td>
            <td style="text-align:right">
                <input type="button" id="showQueryBtn" class="btn btn-primary" value="查詢" />
                <div id="queryFormContainer" class="mt-3">
                    <form id="queryForm" class="form-inline" action="@Url.Action("GetAll")" method="get">

                        <div class="form-group">
                            <label for="invoiceNumber">發票號碼</label>
                            <input type="text" class="form-control" id="InvoiceNumber" name="InvoiceNumber" value="@ViewBag.QueryCondition.InvoiceNumber">
                        </div>

                        <div class="form-group">
                            <label for="productName">品項名稱</label>
                            <input type="text" class="form-control" id="ProductName" name="ProductName" value="@ViewBag.QueryCondition.ProductName">
                        </div>

                        <div class="form-group row">

                            <label for="startDate">日期</label>
                            <div class="col-md-5">
                                <input type="date" class="form-control" id="StartDate" name="StartDate" value="@ViewBag.QueryCondition.StartDateFormat">
                            </div>
                            <div class="col-sm-2" style="text-align:center">
                                ~
                            </div>

                            <div class="col-md-5">
                                <input type="date" class="form-control" id="EndDate" name="EndDate" value="@ViewBag.QueryCondition.EndDateFormat">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="minAmount">總金額</label>
                            <div class="col-md-5">
                                <input type="number" class="form-control" id="minAmount" name="MinAmount" min="0" value="@ViewBag.QueryCondition.MinAmount">
                            </div>
                            <div class="col-md-2" style="text-align:center">
                                ~
                            </div>
                            <div class="col-md-5">
                                <input type="number" class="form-control" id="maxAmount" name="MaxAmount" min="0" value="@ViewBag.QueryCondition.MaxAmount">
                            </div>
                        </div>
                        <input type="submit" id="submitQueryBtn" class="btn btn-primary" value="送出" />
                       @*  <button type="button" id="submitQueryBtn" class="btn btn-primary">送出</button> *@
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="main">
    @{
        for (int i = 0; i < Model.Count; i++)
        {
            <div class="invoiceContent" style="width:100%;">
                <hr>
                <table class="invoice" style="width:100%;text-align:center;">
                    <tr>
                        @* 載具名稱、載具號碼 *@
                        <th>@Html.DisplayNameFor(m => m[i].Carrier_Name)</th>
                        <td>@Html.DisplayFor(m => m[i].Carrier_Name)</td>
                        <th>@Html.DisplayNameFor(m => m[i].Carrier_Number)</th>
                        <td>@Html.DisplayFor(m => m[i].Carrier_Number)</td>
                    </tr>

                    <tr>
                        @* 發票號碼、發票日期 *@
                        <th>@Html.DisplayNameFor(m => m[i].Invoice_Number)</th>
                        <td>@Html.DisplayFor(m => m[i].Invoice_Number)</td>
                        <th>@Html.DisplayNameFor(m => m[i].Date)</th>
                        <td>@Html.DisplayFor(m => m[i].DateFormat)</td>
                    </tr>

                    <tr>
                        @* 商店店名、商店統編 *@
                        <th>@Html.DisplayNameFor(m => m[i].Name_of_Seller)</th>
                        <td>@Html.DisplayFor(m => m[i].Name_of_Seller)</td>
                        <th>@Html.DisplayNameFor(m => m[i].BAN_of_Seller)</th>
                        <td>@Html.DisplayFor(m => m[i].BAN_of_Seller)</td>
                    </tr>

                    <tr>
                        @* 總金額、發票狀態 *@
                        <th>@Html.DisplayNameFor(m => m[i].Amount)</th>
                        <td>@Html.DisplayFor(m => m[i].Amount)</td>
                        <th>@Html.DisplayNameFor(m => m[i].Invoice_Status)</th>
                        <td>@Html.DisplayFor(m => m[i].Invoice_Status)</td>
                    </tr>

                    <tr>
                        @* 發票明細 *@
                        <th>@Html.DisplayNameFor(m => m[i].InvoiceDetail)</th>
                        <td colspan="3">
                            <table class="InvoiceDetail">
                                @{
                                    if (Model[i].InvoiceDetail.Count > 0)
                                    {
                                        <tr class="rowTitle">
                                            <th>@Html.DisplayNameFor(m => m[i].InvoiceDetail[0].Product_Name)</th>
                                            <th>@Html.DisplayNameFor(m => m[i].InvoiceDetail[0].Price)</th>
                                            <th>@Html.DisplayNameFor(m => m[i].InvoiceDetail[0].CategoryName)</th>
                                        </tr>

                                        for (int j = 0; j < Model[i].InvoiceDetail.Count; j++)
                                        {
                                            <tr class="rowData">
                                                <td>@Html.DisplayFor(m => m[i].InvoiceDetail[j].Product_Name)</td>
                                                <td>@Html.DisplayFor(m => m[i].InvoiceDetail[j].Price)</td>
                                                <td>@Html.DisplayFor(m => m[i].InvoiceDetail[j].CategoryName)</td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                </table>

                <input type="button" class="btn btn-warning" value="更新" onclick="editItem('@Model[i].ID')">
                <input type="button" class="btn btn-danger" value="刪除" onclick="delItem('@Model[i].ID')">
            </div>
        }
    }

</div>
<hr>

<script>

    $(function () {
        $('#showQueryBtn').click(function () {
            var buttonOffset = $(this).offset();
            var buttonWidth = $(this).outerWidth();
            var formWidth = $('#queryFormContainer').outerWidth();
            $('#queryFormContainer').css({
                top: buttonOffset.top + $(this).outerHeight(),
                left: buttonOffset.left + buttonWidth - formWidth
            }).toggle();
        });
    });

    function editItem(ID) {
        url = '@Url.Action("Edit", "Invoice", new { ID = "_ID" })';
        url = url.replace("_ID", ID);
        location.href = url;
    }

    function delItem(ID) {
        let check = confirm("是否刪除此筆資料？");
        if (check) {
            $.ajax({
                async: false,
                type: 'delete',
                url: '@Url.Action("Delete")',
                data: { "ID": ID },
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    alert("刪除完成");
                    location.reload();
                }, statusCode: {
                    400: function (errorMessage) {
                        console.log(errorMessage);
                        alert("刪除失敗");
                    }, 500: function (errorMessage) {
                        console.log(errorMessage.responseText);
                        alert("刪除失敗：\r\n" + errorMessage.responseText);
                    }
                }
            })
        }
    }

</script>