@{
    ViewData["Title"] = "GetList";
}
@model List<BookKeeping.Repository.Dtos.Invoice>

<style>
    .invoice td {
        border: solid 1px;
    }

    .invoice th {
        border: solid 1px;
    }

    .InvoiceDetail {
        width: 100%;
    }

        .InvoiceDetail td {
            border: none;
        }

        .InvoiceDetail th {
            border: none;
        }
</style>

<h1>GetList</h1>

<div id="main">
    @{
        for (int i = 0; i < Model.Count; i++)
        {
            <div class="invoiceContent" style="width:100%;">
                <hr>
                <table class="invoice" style="width:100%;text-align:center;">
                    <tr>
                        @* 載具名稱、載具號碼 *@
                        <th>@Html.DisplayNameFor(m => m[i].Carrier_Name)</th>
                        <td>@Html.DisplayFor(m => m[i].Carrier_Name)</td>
                        <th>@Html.DisplayNameFor(m => m[i].Carrier_Number)</th>
                        <td>@Html.DisplayFor(m => m[i].Carrier_Number)</td>
                    </tr>

                    <tr>
                        @* 發票號碼、發票日期 *@
                        <th>@Html.DisplayNameFor(m => m[i].Invoice_Number)</th>
                        <td>@Html.DisplayFor(m => m[i].Invoice_Number)</td>
                        <th>@Html.DisplayNameFor(m => m[i].Date)</th>
                        <td>@Html.DisplayFor(m => m[i].DateFormat)</td>
                    </tr>

                    <tr>
                        @* 商店店名、商店統編 *@
                        <th>@Html.DisplayNameFor(m => m[i].Name_of_Seller)</th>
                        <td>@Html.DisplayFor(m => m[i].Name_of_Seller)</td>
                        <th>@Html.DisplayNameFor(m => m[i].BAN_of_Seller)</th>
                        <td>@Html.DisplayFor(m => m[i].BAN_of_Seller)</td>
                    </tr>

                    <tr>
                        @* 總金額、發票狀態 *@
                        <th>@Html.DisplayNameFor(m => m[i].Amount)</th>
                        <td>@Html.DisplayFor(m => m[i].Amount)</td>
                        <th>@Html.DisplayNameFor(m => m[i].Invoice_Status)</th>
                        <td>@Html.DisplayFor(m => m[i].Invoice_Status)</td>
                    </tr>

                    <tr>
                        @* 發票明細 *@
                        <th>@Html.DisplayNameFor(m => m[i].InvoiceDetail)</th>
                        <td colspan="3">
                            <table class="InvoiceDetail">
                                @{
                                    if (Model[i].InvoiceDetail.Count > 0)
                                    {
                                        <tr class="rowTitle">
                                            <th>@Html.DisplayNameFor(m => m[i].InvoiceDetail[0].Product_Name)</th>
                                            <th>@Html.DisplayNameFor(m => m[i].InvoiceDetail[0].Price)</th>
                                            <th>@Html.DisplayNameFor(m => m[i].InvoiceDetail[0].CategoryName)</th>
                                        </tr>

                                        for (int j = 0; j < Model[i].InvoiceDetail.Count; j++)
                                        {
                                            <tr class="rowData">
                                                <td>@Html.DisplayFor(m => m[i].InvoiceDetail[j].Product_Name)</td>
                                                <td>@Html.DisplayFor(m => m[i].InvoiceDetail[j].Price)</td>                                                
                                                <td>@Html.DisplayFor(m => m[i].InvoiceDetail[j].CategoryName)</td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                </table>                
            </div>
        }
    }

</div>
<hr>